@charset "UTF-8";

div.container {
    background-color: lightcoral;


    display: flex; /*coloca os elementos um do lado do outro*/
}

div.itens {
    background-color: lightseagreen;
    border: 1px solid black;
    text-align: center;
    padding: 10px;

    flex: auto; /*faz com que prenche o campo completo da div filho com container, sem quebra linhas.*/

}